




#star-blink{
text-align:center;
color:green;

margin-bottom:0;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

#star-blink {
  animation: blink 40s infinite;
  color:green;
}