body {
  background-color: #D3B6B0;
  font-family: 'Oswald', sans-serif;
}

.wrapper {
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

#isbn{

width:300px;
margin-left:85px;

}

input{
margin-bottom:20px;}

#title{

width:300px;

margin-left:95px;

}

#publication_year
{

width:300px;

margin-left:10px;

}
#book-cover{
width:300px;

margin-left:15px;
}

#description{
width:300px;

margin-left:40px;
}

#rating{
width:300px;

margin-left:80px;
}


#author{
height:30px;
width:300px;

margin-left:30px;
}


#update-book{
border-radius:10px;
width:300px;
margin-left:130px;
}