<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
      <h1 style="color:red; text-align:center;"> Book Alchemy Project </h1>

  <form action="/add_book" method="POST">

   <label for="title">Title:</label>
  <input type="text" id="title" name="title" required><br><br>

  <label for="publication_year">Publication Year:</label>
  <input type="date" id="publication_year" name="publication_year" required><br><br>

  <!-- <label for="isbn">ISBN:</label>
  <input type="number" id="isbn" name="isbn"><br><br>
-->
     <!--
     <label for="author">Author Name:</label>
  <input type="text" id="author " name="author"><br><br>


     -->


   <select id="author" name="author">

     {% for each in authors %}
          <option value="{{each.name}}"> {{ each.name }} </option>

    {% endfor %}

  </select><br><br><br>




  <input type="submit" value="Add Book"><br><br>



  </form>
<form action="/">

      <input type="submit" value="Back to HOME">

  </form>
  </body>
</html>
