<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>MovieWeb App</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='CSS/reset.css')}}" rel="stylesheet">

    <style>
        body{
    background-image: url('{{ url_for('static', filename='images/diggital-image.jpeg') }}');
        background-size:cover;
    }

.navbar{
margin-bottom:10px;
}

    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand bg-info" href="{{  url_for('home') }}"
       style="margin-bottom:20px;
                    margin-left:20px;
                    color:yellow;border:none;
                     border-radius:10px;
                     padding:5px;  "> Home</a>

    <a class="  " href="{{  url_for('home') }}"
       style="text-decoration:none;
                    border:none;
                     border-radius:10px;
                     padding:5px;  ">
        <h1 style="color: #C0B80F ; display:flex; margin-left:400px;text-align:center;">Book Library </h1>
    </a>


</nav>


<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="wrapper">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}" id="star-blink" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <h2>Reset Password</h2>


                <form action="/resetPassword" method="POST">

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input
                                class="form-control form-control-sm"
                                id="email"
                                name="email"
                                placeholder="Enter your email"
                                type="email"
                        >
                    </div>

                    <div class="form-group">
                        <label for="password">Enter your new Password</label>
                        <input
                                class="form-control form-control-sm"
                                id="password"
                                name="password"
                                placeholder="Enter your password"
                                type="password"
                        >
                    </div>
                    <input class="btn btn-block btn-primary" type="submit" value="Reset Password">
                    <a href="/login">
                        <input class="btn btn-info " style="margin-left:180px;
                            margin-top:20px;"
                               type="button" value="Back to Login Page">
                    </a>
                </form>
                <br>


            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>

</body>
</html>