<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Alchemy</title>
</head>

<body>

    <h1 style="color:red; text-align:center;"> Book Alchemy Project </h1>

    <form method="POST" action="/search">
        <label for="keyword">Enter Keyword for Search:</label>
        <input type="text" id="keyword" name="keyword" required>
        <button type="submit">Search</button>
    </form>

    <ul style="display:flex;flex-wrap: wrap;">
        {% for book in books %}
        <div style="margin: 25px;">
            <span>
                <img src="{{ book.book_cover }}" style="height: 200px;
                    width: 150px; object-fit: cover;" />
            </span>

            <span>
                <h3 style="text-align: center; color: limegreen;
                    font-size: 30px; overflow: hidden;
                    text-overflow: ellipsis;">
                    {{ book.title }}
                </h3>

                <h3 style="text-align: center; color: blue;
                    font-size: 20px; overflow: hidden;
                    white-space: nowrap; text-overflow: ellipsis;">

                    {% for word_group in book.author.name.split()|batch(3) %}
                    <span>{{ word_group|join(" ") }}</span>
                    {% if not loop.last %}<br>{% endif %}
                    {% endfor %}

                </h3>
            </span>

            <h3 style="text-align:center; color:blue;font-size:20px;"> {{book.publication_year}}</h3>

            <span>
                <form action="/book/{{book.id}}/delete" method="POST">
                    <input style="margin-bottom:20px;
                        margin-left:20px;color:red; border-radius:10px;padding:5px; color:red;"
                        type="submit" value="Delete Book">
                </form>
            </span>
        </div>
        {% endfor %}
    </ul>

    <span>
        <form style="color:red; text-align:center;" action="/book_sort">
            <input style="margin-bottom:20px;
                    margin-left:20px;color:red;
                    border-radius:10px;padding:5px;
                    background-Color:limeblue;color:green;"
                type="submit" value="sort by book title">
        </form>
    </span>

    <span>
        <form style="color:red; text-align:center;" action="/author_sort">
            <input style="margin-bottom:20px;
                    margin-left:20px;color:red; border-radius:10px;padding:5px;
                    color:grey;text-align:center;" type="submit" value="sort by author name">
        </form>
    </span>

    <ul style="display:flex;flex-wrap: wrap;">
        {% for author in authors %}
        <div style="margin: 10px;">
            <h3 style="text-align: center; color: blue;
                    font-size: 20px; overflow: hidden;
                    white-space: nowrap; text-overflow: ellipsis;">

                    {% for word_group in  author.name.split()|batch(3) %}
                    <span>{{ word_group|join(" ") }}</span>
                    {% if not loop.last %}<br>{% endif %}
                    {% endfor %}

                </h3>
            <form action="/author/{{author.id}}/delete" method="POST">
                <input style="margin-bottom:20px;
                    margin-left:20px;color:red; border-radius:10px;padding:5px; color:red;"
                    type="submit" value="Delete Author">
            </form>
        </div>
        {% endfor %}
    </ul>

    <div style="display:flex;justify-content:center;  ">
        <form action="/add_book">
            <input style="margin-bottom:20px;
                    margin-left:20px;color:red; border-radius:10px;padding:5px; color:blue;"
                type="submit" value="ADD Book">
        </form>
        <br>
        <form action="/add_author">
            <input style="margin-bottom:20px;
                    margin-left:20px;color:red; border-radius:10px;padding:5px;
                    color:green;text-align:center;"
                type="submit" value="ADD Author">
        </form>
    </div>

</body>

</html>
